{:type "object",
 :properties
 {:firstName {:type "string", :title "First Name"},
  :lastName {:type "string", :title "Last Name"},
  :age {:type "number", :title "Age"}},
 :additionalProperties false,
 :required [:firstName :lastName :age],
 :title "SimplePerson"}
